<!DOCTYPE html>
<!-- templates/layout.jinja2 -->

<html lang="{{ request.locale_name }}">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Pylons Project">
    <link rel="shortcut icon" href="{{ request.static_url('jasondearth:static/pyramid-16x16.png') }}">

    <title>Jason Dearth's utilities</title>

    <!-- Bootstrap core CSS -->
    <link href="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ request.static_url('jasondearth:static/theme.css') }}" rel="stylesheet">
    <script src="{{ request.static_url('jasondearth:static/angular.js') }}"></script>
    <script src="{{ request.static_url('jasondearth:static/angular-route.js') }}"></script>
    <script src="{{ request.static_url('jasondearth:static/angular-resource.js') }}"></script>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  <div class="starter-template">
      <div class="container">
        <div class="masthead">
            <h3 class="text-muted">My Life Hack</h3>
            <ul class="nav nav-tabs">
                {% if request.user %}
                    <li><a href="{{ request.route_url('logout') }}">Log out</a></li>
                    <li><a href="{{ request.route_url('logged_in') }}">Logged In</a></li>
                    <li><a href="{{ request.route_url('editor') }}">Editor</a></li>
                    <li><a href="{{ request.route_url('admin') }}">Admin</a></li>
                    <li><a href="{{ request.route_url('billminder') }}">Bills</a></li>
                {% else %}
                    <li><a href="{{ request.route_url('login') }}">Log In</a></li>
                    <li><a href="{{ request.route_url('register_user') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="row">
          <div class="col-md-2">
            <img class="logo img-responsive" src="{{ request.static_url('jasondearth:static/pyramid_red.png') }}" alt="pyramid web framework">
          </div>
          <div class="col-md-10">
            <div class="content">
                {% block content %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//oss.maxcdn.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>