{% extends "base.jinja2" %}
{% block content %}
    <div class="row">
        <div class="col-sm-12 col-centered">
            <script src="{{ request.static_url('jasondearth:static/bills.js') }}"></script>
            <script src="{{ request.static_url('jasondearth:static/bills/services.js') }}"></script>
            <script src="{{ request.static_url('jasondearth:static/bills/controllers.js') }}"></script>
            <div ng-app="billApp">
                <div ng-view=""></div>
            </div>
        </div>
    </div>
{% endblock %}