{% extends "base.jinja2" %}
{% block content %}
    <h1><span class="font-semi-bold">Customized Pyramid</span> <span class="smaller">starter template</span></h1>
    <p class="lead">Welcome to <span class="font-normal">{{ project }}</span>, an&nbsp;application generated&nbsp;by<br>the <span class="font-normal">Pyramid Web Framework</span>.</p>
{% endblock %}