{% extends "base.jinja2" %}
{% block content %}
    <h1><span class="font-semi-bold">Log In Successful</span></h1>
    <p class="lead">Welcome, back {{ request.user.firstname }} ({{ request.user.username }})!</p>
{% endblock %}