{% extends "base.jinja2" %}
{% block content %}
    <div class="row">
        <div class="col-sm-6 col-centered">
            <form action="/register" method="post" class="form-signin" role="form">
                <h2 class="form-signin-heading">Please sign in</h2>
                <input type="text" name="username" placeholder="Enter a username" class="form-control" value="{{ username }}" />
                <input type="text" name="firstname" placeholder="First name" class="form-control" value="{{ firstname }}" />
                <input type="text" name="lastname" placeholder="Last name" class="form-control" value="{{ lastname }}" />
                <input type="password" name="password" placeholder="Enter password" class="form-control" value="" />
                <input type="password" name="verify_password" placeholder="Verify password" class="form-control" value="" />
                <button type="submit" name="form.submitted" class="btn btn-lg btn-primary btn-block">Register</button>
                <ul>
                    {% for error in errors %}
                        <li class="error">{{ error }}</li>
                    {% endfor %}
                </ul>
            </form>
        </div>
    </div>
{% endblock %}