<div>
    <form name="addBillForm" class="form-inline" novalidate role="form" ng-submit="addBill()">
        <div class="form-group" ng-class="{'has-error': addBillForm.description.$invalid && addBillForm.description.$dirty}">
            <label class="sr-only" for="description">Description</label>
            <input type="text" name="description" placeholder="Description" class="form-control"
                   value="" ng-model="bill.description" required ng-minlength="3" ng-maxlength="20"/>
        </div>
        <div class="form-group" ng-class="{'has-error': addBillForm.due_date.$invalid && addBillForm.due_date.$dirty}">
            <label class="sr-only" for="due_date">Due Date</label>
            <input type="date" name="due_date" class="form-control" ng-model="bill.next_due_date" required ng-pattern="datePattern"/>
        </div>
        <div class="form-group" ng-class="{'has-error': addBillForm.amount.$invalid && addBillForm.amount.$dirty}">
            <label class="sr-only" for="amount">Amount</label>
            <input type="number" name="amount" class="form-control" step="0.01" ng-model="bill.amount" required/>
        </div>
        <button type="submit" name="form.submitted" class="btn btn-primary" ng-disabled="addBillForm.$invalid">Add</button>
    </form>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Date</td>
                <td>Description</td>
                <td>Amount</td>
                <td>Running Total</td>
                <td>Status</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="bill in bills | orderBy: 'next_due_date'" ng-class="{success: bill.status == 'paid', warning: bill.status == 'late'}">
                <td>
                    <span ng-if="bill.edit != true">{{ bill.next_due_date | date : 'M-d' }}</span>
                    <span ng-if="bill.edit == true">
                        <input type="date" name="due_date" class="form-control" ng-model="bill.next_due_date" required ng-pattern="datePattern"/>
                    </span>
                </td>
                <td>
                    <span ng-if="bill.edit != true">{{ bill.description }}</span>
                    <span ng-if="bill.edit == true">
                        <input type="text" name="description" placeholder="Description" class="form-control"
                            value="" ng-model="bill.description" required ng-minlength="3" ng-maxlength="20"/>
                    </span>
                </td>
                <td>
                    <span ng-if="bill.edit != true">{{ bill.amount | currency : '$' }}</span>
                    <span ng-if="bill.edit == true">
                        <input type="number" name="amount" class="form-control" step="0.01" ng-model="bill.amount" required/>
                    </span>
                </td>
                <td><span ng-bind="getRunningTotal($index) | currency: '$'"></span></td>
                <td>
                    <button ng-if="bill.status == 'due'" ng-click="submitPayment(bill)" class="btn btn-primary btn-xs">Pay</button>
                    <button ng-if="bill.status == 'paid'" ng-click="clearPayment(bill)" class="btn btn-primary btn-xs">Clear</button>
                </td>
                <td>
                    <button ng-if="bill.edit != true" ng-click="editBill(bill)" class="btn btn-primary btn-xs">Edit</button>
                    <button ng-if="bill.edit == true" ng-click="saveBill(bill)" class="btn btn-primary btn-xs">Save</button>
                    <button ng-click="deleteBill(bill)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>